# Ignore everything but website
__pycache__
.venv
.env
back-end-data/analysis
back-end-data/temp
back-end-data/reference
back-end-data/exports
back-end-data/backups
database-scripts
src
node_modules
package*.json
book-scans
dev-server.py


# Site-specific gitignore

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
*.swp
*.swo
*~

# Logs
*.log
