# Ignore everything but website
.DS_Store
__pycache__
.venv
everything_else
old-index.html
.env
data/temp
data/reference
data/exports
data/backups
database-scripts
dist
src
node_modules
package*.json
book-scans